body {
  width: 50%;
  margin: 50px auto;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #e7cbcb;
}
.container-c {
  height: 366px;
  width: 360px;
  left: -180px;
  top: -320px;
  border-radius: px;
  background-color: #ffffff;
  display: flex;
}
h1 {
  padding-left: 20px;
  padding-top: 8px;
  font-family: "Overpass", sans-serif;
}
